#Ignore notbook checkpoints 
.ipynb_checkpoints

#Ignore output images
*.png

#Ignore intermdiate testing artifacts
__pycache__/

#Ignore the virtual enviroment directory
venv

#Ignore build artifactsegg-info
*.egg-info
